# Godot 4+ specific ignores
.godot/
/.idea/.idea.New Platformer Game.dir/.idea/.gitignore
/.idea/.idea.Fox-Cherry-Platformer.dir/.idea/.gitignore
/.idea/.idea.New Platformer Game.dir/.idea/indexLayout.xml
/.idea/.idea.Fox-Cherry-Platformer.dir/.idea/indexLayout.xml
/.idea/.idea.Fox-Cherry-Platformer.dir/.idea/vcs.xml
